[Unit]
Description=Puma Http Server
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory={{ app_dir }}
Environment=AWS_REGION=ap-northeast-1
ExecStart=/home/ec2-user/.rbenv/shims/bundle exec puma -C {{ app_dir }}/config/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target